body{
    background-color: #f5f5dd;
}

div{
    width: 200px;
    height: 200px;
    background-color:black;
    margin-bottom: 40px;
    margin: 10% 40%;
}

.black{
    background-color: rgba(0,0,0,);
    margin-top: 40px;
}

.grey{
    background-color: rgba(0,0,0,0.3);
}

.silver{
    background-color: rgba(0,0,0,0.2);
}

.lightgrey{
    background-color: rgba(0,0,0,0.1);
}